<% if @car != nil %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%#= render 'shared/user_info' %>  
        <div class="provider">事業者名:<%= @micropost.carid.company %></div>
        <div class="number">車両番号:<%= @micropost.carid.number %></div>
         
        <% rtime = Time.now;  rtimestr= rtime.strftime("%Y/%m/%d %02H:%02M") %>
        <div class="rtime">時刻： <%= rtimestr %></div>

      </section>        
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>  
      </section>
    </aside>  
    <div id="gmapwrap" class="col-md-8">
      <div id="gmap"></div>
      <div id="area_name"></div>
    </div>
  </div>
<% else %>
  <div class="center jumbotoron">
    <h1>Welcome to the Mobileye</h1>
    
    <%#= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <div class="row">
    <div id="sample" class="col-md-4">
      This is sample
    </div>
    <div id="gmapwrap" class="col-md-8">
      <div id="gmap"></div>
      <div id="area_name"></div>
    </div>
  </div>
<% end %>  
  
