  <!-- モーダルの配置 -->
  <div class="modal" id="modal-gmap" tabindex="-1">
      <div class="modal-dialog">
  
          <!-- モーダルのコンテンツ -->
          <div class="modal-content">
              <!-- モーダルのヘッダ -->
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="modal-label">view map</h4>
              </div>
              <!-- モーダルのボディ -->
              <div class="col-sm-12">
              <div id="modal-body">
                  <div id="gmap"></div>
                  <!-- ここにモーダル内容 -->
                  <div id="area_name"></div>
              </div>
              </div>
              <!-- モーダルのフッタ -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>