
<h1>管理用画面</h1>
<div class="row">
   <div class="col-sm-3">
      <%= link_to "新規CAR-ID", new_carid_path, class: "btn btn-primary" %>
   </div>
   <div class="col-sm-3">
      <%= link_to "CAR-ID一覧", carids_path, class: "btn btn-primary" %>
   </div>
</div>